<form action="/users/{{}}" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{}}">
  </div>
  <div>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">
  </div>
</form>