<div class="row bg-white rounded mt-4">
    <div class="d-flex justify-content-center align-items-center col-6 col-lg-4 overflow-hidden m-1">
      <img src="{{thisUser.image}}" alt="User-photo" height="270px" width="270px" class="rounded-circle">
    </div>
    <div class="col-5 col-lg-7 mt-3">
      <h3> {{thisUser.name}} </h3>
      <p> {{thisUser.email}} </p>
      {{#ifCond id thisUser.id}}
      <a href="/users/{{thisUser.id}}/edit" class="btn btn-primary">EDIT</a>
      {{/ifCond}}
    </div>
</div>